In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv('./data/concat.csv')
df

,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,ACC_PLACE
0,1606778270,19,10,401,2,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826717,충청남도
1,1606760666,13,10,406,1,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341550,36.353695,대전광역시
2,1606775838,19,10,402,1,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136140,36.917900,충청남도
3,1606774124,13,10,401,1,대전광역시 중구 석교동(석교동) 85-14,127.447550,36.306725,대전광역시
4,1606774160,13,10,401,2,대전광역시 중구 석교동(행정:석교동) 88-11,127.447174,36.306694,대전광역시
...,...,...,...,...,...,...,...,...,...
415515,1605972007,13,7,406,1,대전광역시 중구 오류동(행정:오류동) 175-2,127.404540,36.325220,대전광역시
415516,1605973208,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,대전광역시
415517,1605974239,19,5,406,3,충청남도 천안시 서북구 불당동(행정:불당동) 1540,127.107620,36.813774,충청남도
415518,1605973073,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,대전광역시
415519,1605971722,19,7,406,1,충청남도 천안시 동남구 안서동(신안동) 산16-5,127.173386,36.841990,충청남도

In [8]:
from datetime import datetime
a = datetime.fromtimestamp(1606778270)
a.year, a.month, a.day, a.hour, a.minute, a.second

(2020, 12, 1, 8, 17, 50)

In [11]:
df.iloc[:,0]

0         1606778270
1         1606760666
2         1606775838
3         1606774124
4         1606774160
             ...
415515    1605972007
415516    1605973208
415517    1605974239
415518    1605973073
415519    1605971722
Name: RECV_CPLT_DM, Length: 415520, dtype: int64

In [46]:
from collections import defaultdict
import calendar
dic = defaultdict(list)
tmp_df = df.iloc[:,0]
for unix in tmp_df:
    unix_time = datetime.fromtimestamp(unix)
    dic['year'].append(unix_time.year)
    dic['month'].append(unix_time.month)
    dic['day'].append(unix_time.day)
    dic['hour'].append(unix_time.hour)
    
df['year'] = dic['year']
df['month'] = dic['month']
df['day'] = dic['day']
df['hour'] = dic['hour']
del dic

days = ['월','화','수','목','금','토','일']

def get_days(dataframe):
    return days[calendar.weekday(dataframe['year'],dataframe['month'],dataframe['day'])]
    
df['days'] = df.apply(get_days, axis = 1)

In [47]:
df

,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,ACC_PLACE,year,month,day,hour,days
0,1606778270,19,10,401,2,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826717,충청남도,2020,12,1,8,화
1,1606760666,13,10,406,1,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341550,36.353695,대전광역시,2020,12,1,3,화
2,1606775838,19,10,402,1,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136140,36.917900,충청남도,2020,12,1,7,화
3,1606774124,13,10,401,1,대전광역시 중구 석교동(석교동) 85-14,127.447550,36.306725,대전광역시,2020,12,1,7,화
4,1606774160,13,10,401,2,대전광역시 중구 석교동(행정:석교동) 88-11,127.447174,36.306694,대전광역시,2020,12,1,7,화
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415515,1605972007,13,7,406,1,대전광역시 중구 오류동(행정:오류동) 175-2,127.404540,36.325220,대전광역시,2020,11,22,0,일
415516,1605973208,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,대전광역시,2020,11,22,0,일
415517,1605974239,19,5,406,3,충청남도 천안시 서북구 불당동(행정:불당동) 1540,127.107620,36.813774,충청남도,2020,11,22,0,일
415518,1605973073,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,대전광역시,2020,11,22,0,일
415519,1605971722,19,7,406,1,충청남도 천안시 동남구 안서동(신안동) 산16-5,127.173386,36.841990,충청남도,2020,11,22,0,일

In [32]:
df['NPA_CL'].value_counts()     #19 충남 13 대전 31 세종 18 충북

19    240874
13    154385
31     16631
18      1782
15      1314
20       418
8         41
11        34
16        18
21         5
22         5
23         5
17         3
12         2
9          2
10         1
Name: NPA_CL, dtype: int64

In [34]:
df['EVT_CL_CD'].value_counts()      #401 교통사고, 402 교통불편 403 교통위반 406 음주운전

401    255568
406     67834
402     58562
403     33556
Name: EVT_CL_CD, dtype: int64

In [35]:
df['RPTER_SEX'].value_counts()

1    294007
2     79439
3     42074
Name: RPTER_SEX, dtype: int64

In [48]:
df['year'].value_counts()

2020    142513
2022    138919
2021    127995
2023      6093
Name: year, dtype: int64

In [49]:
df['month'].value_counts()

9     39823
10    39220
7     37675
8     37126
5     36461
6     36160
1     35021
11    34102
4     32062
12    31824
3     29498
2     26548
Name: month, dtype: int64

In [50]:
df['day'].value_counts()

14    14179
18    14101
11    14038
15    13985
8     13962
17    13948
16    13893
3     13860
6     13820
13    13796
20    13789
10    13785
7     13748
5     13721
21    13689
12    13672
9     13663
4     13605
2     13573
19    13488
23    13407
1     13397
24    13365
25    13170
28    13169
29    13146
27    13116
22    13093
26    13043
30    12177
31     8122
Name: day, dtype: int64

In [51]:
df['hour'].value_counts()

18    29253
17    26300
16    24176
15    23739
14    23469
19    22825
21    22134
13    22122
20    21244
22    21222
12    20250
11    19812
10    18947
9     17672
8     17445
23    17190
0     15013
1     11137
7     10728
2      8148
6      6748
3      6165
4      4957
5      4824
Name: hour, dtype: int64

In [52]:
df['days'].value_counts()

토    66310
금    65089
목    58567
수    58091
화    57723
월    57617
일    52123
Name: days, dtype: int64