In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [79]:
age_acc = pd.read_csv('./data/kosis_data/age_acc.csv',encoding='cp949')
age_acc = age_acc.loc[age_acc['연령층별(1)']!='불명']
age_acc = age_acc.iloc[1:,:].reset_index().drop(columns=['index'])
age_acc
age_acc = pd.DataFrame({
            'age':list(age_acc['연령층별(1)'].values), 
            'month':list(age_acc['월별(1)'].values),
            '2017':[int(age_acc['2017'].values.__getitem__(x))+int(age_acc['2017.1'].values.__getitem__(x)) for x in range(len(age_acc))],
            '2018':[int(age_acc['2018'].values.__getitem__(x))+int(age_acc['2018.1'].values.__getitem__(x)) for x in range(len(age_acc))],
            '2019':[int(age_acc['2019'].values.__getitem__(x))+int(age_acc['2019.1'].values.__getitem__(x)) for x in range(len(age_acc))],
            '2020':[int(age_acc['2020'].values.__getitem__(x))+int(age_acc['2020.1'].values.__getitem__(x)) for x in range(len(age_acc))],
            '2021':[int(age_acc['2021'].values.__getitem__(x))+int(age_acc['2021.1'].values.__getitem__(x)) for x in range(len(age_acc))],
})
age_acc

       age month   2017   2018   2019   2020   2021
0    12세이하    전체  13487  12577  14143  10524  11001
1    12세이하    1월    919    787    803    960    581
2    12세이하    2월    761    845    896    614    729
3    12세이하    3월   1006    958   1040    529    857
4    12세이하    4월   1187   1086   1170    792    990
..     ...   ...    ...    ...    ...    ...    ...
112  71세이상    8월   2064   2067   2135   1770   1753
113  71세이상    9월   2350   2187   2197   2010   1858
114  71세이상   10월   2360   2448   2599   2139   2116
115  71세이상   11월   2230   2256   2444   1930   2005
116  71세이상   12월   1747   1872   2087   1447   1554

[117 rows x 7 columns]

In [78]:
location_acc = pd.read_csv('./data/kosis_data/location_acc.csv',encoding='cp949')
location_acc = location_acc.loc[location_acc['시도별(1)'].isin(['세종','충남','대전'])].iloc[:,[x for x in range(len(location_acc.columns)) if '.' not in location_acc.columns[x]]].reset_index().drop(columns=['index'])
location_acc

   시도별(1) 월별(1)  2017  2018  2019  2020  2021
0      대전    전체  7767  7554  8337  7215  7027
1      대전    1월   628   547   604   566   519
2      대전    2월   546   567   590   600   520
3      대전    3월   586   599   670   535   589
4      대전    4월   597   622   697   593   604
5      대전    5월   686   630   816   638   596
6      대전    6월   641   645   684   644   565
7      대전    7월   658   617   706   636   644
8      대전    8월   702   673   731   564   556
9      대전    9월   665   623   658   624   615
10     대전   10월   673   684   777   614   649
11     대전   11월   700   709   718   650   603
12     대전   12월   685   638   686   551   567
13     세종    전체   746   795   922   813   788
14     세종    1월    35    57    66    73    55
15     세종    2월    41    73    67    66    50
16     세종    3월    46    81    83    74    50
17     세종    4월    64    88    77    46    82
18     세종    5월    62    76    75    62    77
19     세종    6월    53    69    83    61    71
20     세종    7월    57    62    76    57    70
21     세종    8월    66    52    79    51    62
22     세종    9월    98    50    76    94    58
23     세종   10월    74    65    90    79    67
24     세종   11월    68    65    82    79    71
25     세종   12월    82    57    68    71    75
26     충남    전체  9241  8807  9404  8952  8423
27     충남    1월   678   596   586   714   550
28     충남    2월   567   632   582   619   587
29     충남    3월   706   713   721   586   641
30     충남    4월   738   773   759   651   785
31     충남    5월   827   799   864   786   725
32     충남    6월   822   725   826   827   730
33     충남    7월   795   745   804   754   735
34     충남    8월   804   756   833   766   685
35     충남    9월   909   767   802   829   747
36     충남   10월   823   831   916   921   811
37     충남   11월   820   742   947   774   770
38     충남   12월   752   728   764   725   657

In [110]:
road_acc = pd.read_csv('./data/kosis_data/road_acc.csv',encoding='cp949').drop(columns=['Unnamed: 10']).fillna(0)
road_acc = road_acc.rename(columns={'2017 년':'2017', '2018 년':'2018', '2019 년':'2019', '2020 년':'2020', '2021 년':'2021'}).astype({'2017':int, '2018':int, '2019':int, '2020':int, '2021':int})
road_acc

      도로형태별     시간대별   월별       항목 단위  2017  2018  2019  2020  2021
0       터널안  00시-02시   전체  사고건수[건]  건    26    30    30    27    31
1       터널안  00시-02시   전체  사망자수[명]  명     2     2     2     1     6
2       터널안  00시-02시   전체  부상자수[명]  명    60    50    47    41    48
3       터널안  00시-02시   1월  사고건수[건]  건     3     6     4     1     1
4       터널안  00시-02시   1월  사망자수[명]  명     0     0     0     0     0
...     ...      ...  ...      ... ..   ...   ...   ...   ...   ...
4282  기타단일로  22시-24시  11월  사망자수[명]  명    21    14    11     8    18
4283  기타단일로  22시-24시  11월  부상자수[명]  명   933   789   737   626   614
4284  기타단일로  22시-24시  12월  사고건수[건]  건   737   566   623   342   406
4285  기타단일로  22시-24시  12월  사망자수[명]  명    18    11    15     2    17
4286  기타단일로  22시-24시  12월  부상자수[명]  명  1111   810   979   483   567

[4287 rows x 10 columns]

In [131]:
road_acc['도로형태별'].value_counts()

터널안          468
교차로내         468
기타/불명        468
교량위          468
교차로횡단보도내     468
고가도로위        468
교차로부근        468
지하차도(도로)내    468
기타단일로        468
철길건널목         75
Name: 도로형태별, dtype: int64

In [124]:
road_acc.loc[(road_acc['도로형태별']!='철길건널목')].iloc[3:39:3,:]

   도로형태별     시간대별   월별       항목 단위  2017  2018  2019  2020  2021
3    터널안  00시-02시   1월  사고건수[건]  건     3     6     4     1     1
6    터널안  00시-02시   2월  사고건수[건]  건     1     3     4     2     5
9    터널안  00시-02시   3월  사고건수[건]  건     2     2     0     4     3
12   터널안  00시-02시   4월  사고건수[건]  건     0     2     2     2     0
15   터널안  00시-02시   5월  사고건수[건]  건     3     3     5     3     1
18   터널안  00시-02시   6월  사고건수[건]  건     2     2     1     1     1
21   터널안  00시-02시   7월  사고건수[건]  건     2     3     1     2     4
24   터널안  00시-02시   8월  사고건수[건]  건     3     1     3     3     1
27   터널안  00시-02시   9월  사고건수[건]  건     2     1     1     1     2
30   터널안  00시-02시  10월  사고건수[건]  건     1     1     3     3     7
33   터널안  00시-02시  11월  사고건수[건]  건     4     1     2     1     4
36   터널안  00시-02시  12월  사고건수[건]  건     3     5     4     4     2

In [146]:
road_acc.loc[(road_acc['도로형태별']!='철길건널목')].iloc[3*14:39*12:39,:]

    도로형태별     시간대별  월별       항목 단위  2017  2018  2019  2020  2021
42    터널안  02시-04시  1월  사고건수[건]  건     2     4     1     1     1
81    터널안  04시-06시  1월  사고건수[건]  건     4     4     1     2     1
120   터널안  06시-08시  1월  사고건수[건]  건     3     4     1     5     3
159   터널안  08시-10시  1월  사고건수[건]  건     5    14     8     8     5
198   터널안  10시-12시  1월  사고건수[건]  건     7     7    11     4     6
237   터널안  12시-14시  1월  사고건수[건]  건     7     8     6     5    10
276   터널안  14시-16시  1월  사고건수[건]  건     9     5    11    15     8
315   터널안  16시-18시  1월  사고건수[건]  건     9     8     5     9     2
354   터널안  18시-20시  1월  사고건수[건]  건     5    11     2     5    10
393   터널안  20시-22시  1월  사고건수[건]  건     3     3     1     2     5
432   터널안  22시-24시  1월  사고건수[건]  건     4     6     7     0     4

In [150]:
road_acc.loc[(road_acc['도로형태별']=='터널안') & (road_acc['월별']=='전체') & (road_acc['항목']=='사고건수[건]')]

    도로형태별     시간대별  월별       항목 단위  2017  2018  2019  2020  2021
0     터널안  00시-02시  전체  사고건수[건]  건    26    30    30    27    31
39    터널안  02시-04시  전체  사고건수[건]  건    18    30    21    24    28
78    터널안  04시-06시  전체  사고건수[건]  건    21    36    16    21    26
117   터널안  06시-08시  전체  사고건수[건]  건    50    50    55    59    49
156   터널안  08시-10시  전체  사고건수[건]  건    80   117   101    84    81
195   터널안  10시-12시  전체  사고건수[건]  건   103    79   108    87    93
234   터널안  12시-14시  전체  사고건수[건]  건    77    74    78    98    94
273   터널안  14시-16시  전체  사고건수[건]  건   101   104   123   117   117
312   터널안  16시-18시  전체  사고건수[건]  건   113   101    92   106   112
351   터널안  18시-20시  전체  사고건수[건]  건    76    82    84    88   123
390   터널안  20시-22시  전체  사고건수[건]  건    28    36    27    30    45
429   터널안  22시-24시  전체  사고건수[건]  건    32    42    38    30    48

In [144]:
road_acc.loc[(road_acc['도로형태별']!='철길건널목')].iloc[3*1:39*12:39,:]

    도로형태별     시간대별  월별       항목 단위  2017  2018  2019  2020  2021
3     터널안  00시-02시  1월  사고건수[건]  건     3     6     4     1     1
42    터널안  02시-04시  1월  사고건수[건]  건     2     4     1     1     1
81    터널안  04시-06시  1월  사고건수[건]  건     4     4     1     2     1
120   터널안  06시-08시  1월  사고건수[건]  건     3     4     1     5     3
159   터널안  08시-10시  1월  사고건수[건]  건     5    14     8     8     5
198   터널안  10시-12시  1월  사고건수[건]  건     7     7    11     4     6
237   터널안  12시-14시  1월  사고건수[건]  건     7     8     6     5    10
276   터널안  14시-16시  1월  사고건수[건]  건     9     5    11    15     8
315   터널안  16시-18시  1월  사고건수[건]  건     9     8     5     9     2
354   터널안  18시-20시  1월  사고건수[건]  건     5    11     2     5    10
393   터널안  20시-22시  1월  사고건수[건]  건     3     3     1     2     5
432   터널안  22시-24시  1월  사고건수[건]  건     4     6     7     0     4

In [113]:
road_type_time_acc = road_acc.loc[(road_acc['도로형태별']!='철길건널목') & (road_acc['월별']=='전체') & (road_acc['항목']=='사고건수[건]')].reset_index().drop(columns=['index'])
road_type_time_acc

     도로형태별     시간대별  월별       항목 단위   2017   2018   2019   2020   2021
0      터널안  00시-02시  전체  사고건수[건]  건     26     30     30     27     31
1      터널안  02시-04시  전체  사고건수[건]  건     18     30     21     24     28
2      터널안  04시-06시  전체  사고건수[건]  건     21     36     16     21     26
3      터널안  06시-08시  전체  사고건수[건]  건     50     50     55     59     49
4      터널안  08시-10시  전체  사고건수[건]  건     80    117    101     84     81
..     ...      ...  ..      ... ..    ...    ...    ...    ...    ...
103  기타단일로  14시-16시  전체  사고건수[건]  건  11577  10840  11673  10767  10604
104  기타단일로  16시-18시  전체  사고건수[건]  건  12710  12328  13134  11983  11900
105  기타단일로  18시-20시  전체  사고건수[건]  건  13806  13190  13993  12710  12264
106  기타단일로  20시-22시  전체  사고건수[건]  건  10084   9298   9071   8372   8062
107  기타단일로  22시-24시  전체  사고건수[건]  건   7989   7289   6711   5802   5807

[108 rows x 10 columns]

In [96]:
road_acc.iloc[::39,:].head(20)

,도로형태별,시간대별,월별,항목,단위,2017 년,2018 년,2019 년,2020 년,2021 년,Unnamed: 10
0,터널안,00시-02시,전체,사고건수[건],건,26.0,30.0,30.0,27.0,31.0,NaN
39,터널안,02시-04시,전체,사고건수[건],건,18.0,30.0,21.0,24.0,28.0,NaN
78,터널안,04시-06시,전체,사고건수[건],건,21.0,36.0,16.0,21.0,26.0,NaN
117,터널안,06시-08시,전체,사고건수[건],건,50.0,50.0,55.0,59.0,49.0,NaN
156,터널안,08시-10시,전체,사고건수[건],건,80.0,117.0,101.0,84.0,81.0,NaN
195,터널안,10시-12시,전체,사고건수[건],건,103.0,79.0,108.0,87.0,93.0,NaN
234,터널안,12시-14시,전체,사고건수[건],건,77.0,74.0,78.0,98.0,94.0,NaN
273,터널안,14시-16시,전체,사고건수[건],건,101.0,104.0,123.0,117.0,117.0,NaN
312,터널안,16시-18시,전체,사고건수[건],건,113.0,101.0,92.0,106.0,112.0,NaN
351,터널안,18시-20시,전체,사고건수[건],건,76.0,82.0,84.0,88.0,123.0,NaN
390,터널안,20시-22시,전체,사고건수[건],건,28.0,36.0,27.0,30.0,45.0,NaN
429,터널안,22시-24시,전체,사고건수[건],건,32.0,42.0,38.0,30.0,48.0,NaN
468,교차로내,00시-02시,전체,사고건수[건],건,3252.0,3091.0,3012.0,2697.0,1894.0,NaN
507,교차로내,02시-04시,전체,사고건수[건],건,1820.0,1689.0,1745.0,1408.0,782.0,NaN
546,교차로내,04시-06시,전체,사고건수[건],건,2149.0,2061.0,2115.0,1638.0,1283.0,NaN
585,교차로내,06시-08시,전체,사고건수[건],건,4197.0,4239.0,4451.0,3949.0,3458.0,NaN
624,교차로내,08시-10시,전체,사고건수[건],건,7088.0,7213.0,7960.0,6554.0,6398.0,NaN
663,교차로내,10시-12시,전체,사고건수[건],건,5930.0,6310.0,7190.0,6544.0,6407.0,NaN
702,교차로내,12시-14시,전체,사고건수[건],건,6404.0,6399.0,7651.0,7310.0,7276.0,NaN
741,교차로내,14시-16시,전체,사고건수[건],건,6670.0,6723.0,7814.0,7443.0,7286.0,NaN

In [85]:
road_acc['시간대별'].value_counts()

08시-10시    363
10시-12시    363
14시-16시    363
12시-14시    360
18시-20시    360
22시-24시    360
06시-08시    357
20시-22시    357
00시-02시    351
02시-04시    351
04시-06시    351
16시-18시    351
Name: 시간대별, dtype: int64