In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
kosis_df = pd.read_csv('./data/korea_acc.csv', encoding='cp949')
kosis_df.loc[kosis_df['시도별(1)'].isin(['세종','충남','대전'])]

    시도별(1) 월별(1)  2020 2020.1 2020.2  2021 2021.1 2021.2
66      대전    전체  7215     66  10636  7027     59  10175
67      대전    1월   566      8    866   519      2    765
68      대전    2월   600      5    876   520      4    763
69      대전    3월   535      6    782   589      6    910
70      대전    4월   593      6    868   604      3    860
71      대전    5월   638      8    954   596      3    851
72      대전    6월   644      6    907   565      4    795
73      대전    7월   636      6    908   644      7    919
74      대전    8월   564      6    840   556      5    826
75      대전    9월   624      5    927   615      9    830
76      대전   10월   614      2    923   649      9    953
77      대전   11월   650      7    982   603      4    882
78      대전   12월   551      1    803   567      3    821
92      세종    전체   813      7   1076   788     16   1031
93      세종    1월    73      0    109    55      1     66
94      세종    2월    66      0     84    50      8     76
95      세종    3월    74      3     83    50      0     60
96      세종    4월    46      0     64    82      0    110
97      세종    5월    62      1     87    77      0    106
98      세종    6월    61      0     81    71      2     87
99      세종    7월    57      1     79    70      1     93
100     세종    8월    51      0     65    62      0     88
101     세종    9월    94      0    126    58      0     76
102     세종   10월    79      1    110    67      3     81
103     세종   11월    79      0    102    71      0     91
104     세종   12월    71      1     86    75      1     97
144     충남    전체  8952    261  13381  8423    265  12197
145     충남    1월   714     27   1071   550     16    752
146     충남    2월   619     17    900   587     16    874
147     충남    3월   586     26    875   641     14    945
148     충남    4월   651     19   1031   785     24   1152
149     충남    5월   786     18   1192   725     21   1045
150     충남    6월   827     17   1229   730     22   1074
151     충남    7월   754     24   1116   735     24   1080
152     충남    8월   766     25   1174   685     25    966
153     충남    9월   829     21   1203   747     27   1085
154     충남   10월   921     28   1358   811     29   1170
155     충남   11월   774     24   1152   770     22   1120
156     충남   12월   725     15   1080   657     25    934